html,body,.layout,.slides,div {
    width: 100%;
    height: 100%;
}

section.slides {
    position: relative;
}

.item {
    position: absolute;
    background-size: cover;
    opacity: 0;
}
.active{
    opacity: 1;
}

section.layout {
    position: relative;
    overflow-x: hidden;
}

section.controls {
    position: absolute;
    top: 0;
    display: flex;
    right: 45%;
}

* {
    margin: 0;
    padding: 0;
}

section.controls  i {
    font-size: 80px;
}

section.controls i:hover {
    cursor: pointer;
    color: white;
}


.clost{
    animation: clost 2s forwards;
}
@keyframes clost{
    from{transform:scale(1);opacity: 1;}
    to{transform: scale(2);opacity: 0;}
}
.in{
    animation: in 2s forwards;
}
@keyframes in{
    from{transform: scale(0.8);opacity: 0;}
    to{transform: scale(1);opacity: 1;}
}
.preclose{
    animation:  preclose 2s forwards;
   }
   .prein{
       animation: prein 2s forwards;
   }
   @keyframes preclose{
       form{transform: scale(1);opacity: 1;}
       to{transform:scale(0.8);opacity: 0;}
   }
   @keyframes prein{
       from{transform: scale(0.8);opacity: 0;}
       to{transform: scale(1);opacity: 1;}
   }
   