*{
    margin: 0   ;
    padding: 0;
}
ol.carousel-indicators.Slide-- {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 50px;
    top: 0;
}
.card {
    margin: auto;
    border: none;
}
img.card-img-top.card--img {
    width: 50%;
    border-radius: 50%;
    height: 140px;
    margin: auto;
}