*{margin: 0;padding: 0;}
@font-face {
  font-family: font-sans;
  src: url(font/OpenSans-Bold.ttf),url(font/OpenSans-BoldItalic.ttf),url(font/OpenSans-ExtraBold.ttf),url(font/OpenSans-ExtraBoldItalic.ttf);
}
section.inner {
  font-size: 12px;
  font-family: font-sans;
  color: #324545;
}

section.container {
  width: 1170px;
  margin: auto;
}.innr {
  display: flex;
  justify-content: space-between;
}

.inner-left {
  WIDTH: 17%;
}

.inner-right {
  width: 83%;
  font-size: 14;
  font-size: 14px;
  color: #666666;
  padding: 0 15px;
}

ul.regoin {
  display: flex;
  list-style: none;
}

ul.regoin-sub {
  display: none;
  position: absolute;
  width: 250px;
}
li.regoin-item {
  padding: 0 20px;
  line-height: 73px;
  position: relative;
}

li.regoin-item a {
  text-decoration: none;
  color: #324545;
  font-size: 13px;
}

.inner-left img {display: i;margin: 15px 0 0;display: inline-block;}

.inner-left {
  box-sizing: border-box;
  padding: 0 15px;
}

li.regoin-item:first-child  a {
  color: #1ccdca;
}
li.regoin-item:HOVER a {
  color: #1cd;
  transition: 0.4s;
}

li.regoin-item:hover .regoin-sub {
  display: block;
  background: #000000d9;
  color: #f0f8ffba;
}

li.regoin-sub_item {
  padding-left: 20px;
  font-size: 12px;
  height: 50px;
  line-height: 50px;
}

li.regoin-sub_item:hover {
  background: #0f0606;
  color: aliceblue;
}
.regoin-icon{display:none}



@media only screen and (max-width:992px){
  ul.regoin{display:none }
.regoin-icon{
  display:block;
  font-size:25px;
 text-align:center;
 line-height:73px;
}
section.container{width: 100%;}
.regoin-icon i{
  padding:10px;
  display:inline-block;
  color:red;
  background:black;
  border-radius:5px;
  animation: heart-shape 0.4s  infinite forwards;
  animation-direction: reverse;

}
.clearintro{display:block!important} 
p.clearintro-txt {
   width: auto!important;
}
.clear-btn {width:33%!important}
}
@keyframes heart-shape{
  0%{transform: translate(-10%);color:white,}
  3%{transform: translate(0%);color:green;}
  5%{transform: translate(10%);color:black}
}
section.slides {
  height: 700px;
}

div#carouselId {
  height: 100%;
}

.carousel-inner {
  height: 100%;
}

.carousel-item {
  height: 100%;
}
section.banner {
  background: #000000d6;
  color: #ffffff;
  text-transform: capitalize;
}

.clearfix h3 {
  margin: 0 0 15px;
  font-size: 26px;
}

.clearfix {
  padding: 50px 15px;
}

.clearintro {
  color: rgba(255,255,255,0.7);
  display: flex;
}

p.clearintro-txt {
  width: 73%;
}

.clear-btn {
  width: 20%;
  line-height: 40px;
  height: 40px;
  text-align: center;
  background: #ffffff;
  color: #888888;
  border-radius: 5px;
 
}

.clear-btn i {
  display: inline-block;
}

.clear-btn:hover {
  color: #1ca;
}
section.main-support {
  padding: 90px 0;
}

h2.inv-title {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 20px;
  margin: 20px 0 40px;
  position: relative;
}

h2.inv-title:after {content: '';position: absolute;width: 7%;background: aquamarine;height: 5px;bottom: 0;left: 0;transform: translateX(50%);transition: 1s;}

h2.inv-title:hover::after {
  width: 50%;
  height: 2px;
  background-image: linear-gradient(45deg, black, transparent);
}
.inv-box {
  width: 262px;
  box-sizing: border-box;
  /* position: relative; */
  border: 1px solid #8080806b;
  border-radius: 5px;
  padding: 55px 15px 45px;
}

.box-icon {
  position: relative;
  width: 40%;
  margin: auto;
  font-size: 30px;
  text-align: center;
  top: -80px;
  background: white;
  border: 1px solid gray;
  border-bottom: none;
  height: 25px;
}

i.fa.fa-code {
  display: inline-block;
  background: #1ccdca;
  padding: 17%;
  border-radius: 5px;
  margin-top: 5px;
}

h3.box-tt {
  font-size: 17px;
  color: #666666;
  text-transform: uppercase;
  text-align: center;
}

p.box-txt {
  text-align: center;
  color: #666666;
  margin-top: 41px;
  padding-bottom: 0;
}

i.fa.fa-code:hover {
  transform: rotate(45deg);
  transition: 0.4s;
}
.innv-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media only screen and (max-width:765px){
  div.inv-box{width:100%!important  }
}