$font-owsanld: 'Oswald', sans-serif;
$font-pacifico: 'Pacifico', cursive;
$bg-icon:#f0394d;
$text-white:#fff;
$text-heading:#333;
$text-description:#6a6a6a;
$height-nav:145px;
$heigh-menu:99px;
$text-color:#666;