*{
margin: 0;
padding: 0;
}
section.layout{
background:gray;
width: 800px;
height: 600px;
margin: auto;
display: flex;
justify-content:center; 
align-items: center;
}
div{
    padding: 20px;
    background: #3a3b8b;
}