ul.navbar-nav.mr-auto.mt-2.mt-lg-0.nav__float-right {
   
    font-size: 14px;
    font-weight: 800;
}

header {
    background-image: url(https://blackrockdigital.github.io/startbootstrap-creative/img/bg-masthead.jpg);
    background-size: cover;
    position: relative;
}

html,body,header {
    width: 100%;
    height: 100%;
}

nav.navbar.navbar-expand-sm.navbar-light.bg-light.nav__fixedbg {
    position: fixed;
    width: 100%;
    background: transparent;
    padding:16px;
    
}

ul.navbar-nav.mr-auto.mt-2.mt-lg-0.nav__float-right li {
    padding: 0 16px;
}
section.banner {
    color: white;
    position: absolute;
    width: 100%;
    top: 30%;
    z-index: 2;
    overflow: hidden;
}

section.banner h1 {
    font-size: 56px;
    margin-bottom: 8px;
}

section.banner p {
    font-size: 18px;
    width: 730px;
    margin: auto;
    color: #ffffff87;
    padding-bottom: 48px;
}

section.banner a {
    display: inline-block;
    font-size: 13px;
    color: #ffff;
    background: #f4623a;
    padding: 20px 36px;
    border-radius: 20px;
    font-weight: 900;
}


header:after {position: absolute;content: '';display: block;width: 100%;height: 100%;background: black;z-index: 1;opacity: 0.8;top: 0;}

nav.navbar.navbar-expand-sm.navbar-dark.nav__fixedbg {
    z-index: 3;
}
div#collapsibleNavId {
    justify-content: center;
    flex-grow: 0;
}
@media only screen and (max-width:576px ){
    section.banner h1{
        font-size:36px;
    }
    #collapsibleNavId{
        background:white;
       

    }
    #collapsibleNavId ul{
        margin:0;
    }
    #collapsibleNavId ul li a{
        color:gray;
    }
}
section.about {
    padding: 128px 0;
    background: #f4623a;
    color: white;
}
section.about h1 {
    font-size: 32px;
    margin-bottom: 8px;
}
section.about p {
    font-size: 16px;
    padding-bottom: 22px;
    width: 70%;
    margin: auto;
}
section.about a {
    display: inline-block;
    color: black;
    background: white;
    padding: 20px 36px;
    border-radius: 19px;
}
.row.service-page__content p {
    color: #0000008c;
}
.row.service-page__content i {
    font-size: 72px;
    color: #f4623a;
}
section.service-page.text-sm-center {
    padding: 128px 0;
}
.row.service-page__title h2 {
    font-size: 32px;
    margin-bottom: 8px;
}
.col-sm-4.service-images--setPadding {
    padding: 0;
}

section.serviec-download.text-sm-center {
    background: #212529;
    color: white;
    padding: 128px 0;
}
section.serviec-download.text-sm-center a {
    display: inline-block;
    color: black;
    font-size: 13px;
    background: white;
    padding: 20px 36px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 900;
    margin-top: 21px;
}
footer{
    padding: 48px 0     ;
}