ul.parent{
    display: flex;
    width: 1000px;
    margin: auto;
}
ul.parent li.item{
list-style: none;
margin-right: 20px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
ul.parent li.item:hover {
 background: #1b1827;
 color: cornsilk;
 border: 2px solid ;

}
ul.parent li.item:hover ul.subProduct{
 display: block;
}
ul.subProduct{
    display: none;
    list-style: none;
}
ul.subProduct li:hover{
    display: inline;
    background: blueviolet;
}