*{
    margin: 0;
}
section.container{
    margin: auto;
    width: 1000px;
    display: flex;
    justify-content: space-between;
}
div.content{
    width: 60%;
}
.headed img{
    width: 100%;
}
div.mallContent{
    width: 30%;
}
div.row{
    display: flex;
    justify-content: space-between;
}
div.left {
 width: 30%;
}
div.right{
    width: 60%;
}
div.left img{
    width: 100%;
}
p.relate{
 font-size: 13px;
}