*{
    margin: 0;
    padding: 0;
}
section.pageContent{
    width:1000px ;
    display: flex;
    margin: auto;
}
div.footerslide{
    display: flex;
}
section.pageContent div.sidebar{
    width: 20%;
}
section.pageContent div.content{
    width: 50%;
}

div.content img{
    width: 100%;
    overflow:hidden;
}
div.right{
    display: flex;
    flex-wrap: wrap;
    width: 30%;
}
div.right img{
    width: 50%;
}
section.nav{
    display: flex;
}