
    header {
        width: 100%;
        height: 160px;
        background: #262626;
    }
    
    hearder section.Top {}
    
    header section.Top {
        width: 100%;
        height: 54px;
    }
    
    header .preHeader {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
    }
    
    header .logo {
        width: 70%;
        padding: 22px 45px 0;
        box-sizing: border-box;
    }
    
    header .logo img {
        width: 152px;
        height: 18px;
    }
    
    header .nextTo {
        width: 30%;
        display: flex;
        justify-content: space-around;
        color: white;
        font-size: 14px;
        margin-top: 10px;
    }
    
    
    
    header .nextTo div {
        padding: 0 20px;
        text-transform: capitalize;
    }
    
    .buy {
        background: #82b400;
        border-radius: 6px;
        line-height: 42px;
    }
    
    .remove {
        line-height: 51px;
    }
    
    .remove:before {content: '\f2d3';display: inline-block;font: normal normal normal 14px/1 FontAwesome;font-size: inherit;text-rendering: auto;-webkit-font-smoothing: antialiased;padding-right: 5px;background: transparent;}
    
    header .pattent {
        height: 40px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    
    header .pattent .left {
        width: 50%;
        padding: 0px 10%;
        box-sizing: border-box;
        color: white;
        text-transform: uppercase;
        text-align: center;
    }
    
    header .pattent .left span {width: 115px;display: inline-block;padding: 11px 20px 10px;border-right: 1px solid #ffffff36;}
    
    header .pattent .left span:first-child {
        border-left: 1px solid #ffffff36;
    }
    
    header .pattent .right {
        width: 50%;
        color: white;
        display: flex;
        line-height: 51px;
        text-transform: capitalize;
        font-size: unset;
        font-weight: bold;
    }
    
    .right {}
    
    header .pattent .right div {
        text-align: center;
        height: 40px;
        border-right: 1px solid #ffffff4f;
        width: 160px;
    }
    
    header .pattent .right div:first-child {
        border-left: 1px solid #ffffff52;
    }
    
    section.below {
        /* margin-top: 50px; */
        display: flex;
        justify-content: space-between;
        margin: 50px 40px 0;
        box-sizing: border-box;
        padding: 0px 89px 0;
    }
    
    
    nav {
        width: 70%;
    }
    
    nav ul.parent {
        list-style: none;
        color: white;
        font-size: 16px;
        text-transform: uppercase;
    }
    
    nav ul li {
        display: inline-block;
        padding: 6px 0 9px;
        margin: 0px 20px;
        height: 22px;
    }
    
    nav ul li:first-child {
        color: red;
        border-bottom: 2px solid red;
    }
    
    nav ul li:hover {
        color: red;
        border-bottom: 2px solid red;
    }
    * {
        margin: 0;
        padding: 0;
    }
    
    section.slide  div.textimg {
        width: 650px;
        height: 270px;
        margin: auto;
        position: relative;
        top: 25%;
    }
    
    section.slide {
        position: relative;
        width: 100%;
        height: 800px;
    }
    
    section.slide > img:first-child {
        width: 100%;
        position: absolute;
        z-index: 0;
        height: 760px;
    }
    
    section.slide div.textimg .small {
        width: 293px;
        height: 93px;
        position: absolute;
        bottom: -12px;
        left: 46%;
    }
    
    .slide img:last-child {
        position: absolute;
        bottom: 224px;
        left: 44%;
    }
    section.pageBody {
        width: 100%;
        height: 100%;
    }
    
    section.container {
        width: 1300px;
        margin: auto;
    }
    
    .Com01 {
        height: 530px;
        width: 100%;
    }
    
    .Com01 img {
        padding: 30px 15px 0;
    }
    .Com02 {
        width: 100%;
        height: 613px;
        padding: 89px 0 0;
    }
    
    .Com02 .texthead {
        padding: 38px 00 0;
        text-align: center;
        font-style: oblique;
        font-size: 22px;
    }
    
    .Com02 .texthead span:first-child {
        color: red;
        text-transform: uppercase;
    }
    
    .Com02 .texthead span:nth-child(2) {
        text-transform: uppercase;
    }
    
    .texthead p {
        padding: 9px 0 0;
        font-family: 'Playball', cursive;
        color: #00000094;
    }
    ul.textbewteen {
        font-size: 15px;
        padding:  0 0 54px;
        display: flex;
        justify-content: space-around;
        width: 50%;
        margin: auto;
        text-transform: uppercase;
        font-weight: 600;
        padding: 68px 00 54px;
    
    }
    ul.textbewteen li:first-child{
        color: black    ;
        list-style: none;
    }
    ul.textbewteen li{
        color: #00000094;
    }
    
    .Com02 .box {
        width: 100%;
        display: flex;
    }
    
    .box-item {
        width: 300px;
        height: 310px;
        box-sizing: border-box;
        padding: 0 15px;
        position: relative;
    }
    
    .box-item img {
        position: absolute;
        width: 190px;
        height: 190px;
        margin: 0 40px;
    }
    
    .box-item h2 {
        position: absolute;
        bottom: 62px;
        left: 74px;
        font-size: 17px;
        color: #262626;
    }
    
    .box-item p {
        position: absolute;
        bottom: 38px;
        left: 120px;
        color: red;
    }
    .box-item .icons {
        position: absolute;
        top: 86px;
        left: 0;
        width: 100%;
        display: block;
        text-align: center;
        font-size: 39px;
        color: white;
        transform: scale(0.1);
        visibility: hidden;
    }
    
    .box-item .icons i:last-child {
        color: #ff000091;
    }
    .box-item .icons i {
        background: #ffffffcc;
        color: #000000ed;
    }
.box-item:hover div.icons {
    visibility: visible;
    transform: scale(1);
    transition: 1s;
}