html,body,header{
    width: 100%;
    height: 100%;
}
.navbar__float-right{
    justify-content: flex-end;
}
header{
    background-image: url(https://themes.3rdwavemedia.com/velocity/bs4/4.0/assets/images/background/bg-header-1.jpg);
    background-size: cover;
}
.container.navbar__ {
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    background: transparent!important;
}

.navbar__li li:hover a {
    color: #ec6952!important;
}


.banner__sign:hover {
background-color:#ec6952;
border-radius: 5px;

}
.navbar__li .banner__sign:hover a{
    color: white!important;
}
.navbar__ .container > a {font-size: 20px;color: white;font-family: 'Roboto', sans-serif;font-weight: 800;padding: 15px 30px;background: #ec6952;margin-top: -12px;border-radius: 7px;}
section.banner {
    /* position: absolute; */
    padding-top: 14%;
    color: white;
}

.col-sm-8.col-sm-push-2.text-sm-center {
    margin: auto;
}

.col-sm-8.col-sm-push-2.text-sm-center.banner__content h1 {
    font-size: 46px;
    margin-bottom: 20px;
}

.col-sm-8.col-sm-push-2.text-sm-center.banner__content p {
    font-size: 18px;
    margin: 0 89px 45px;
}

.col-sm-8.col-sm-push-2.text-sm-center.banner__content a {
    display: inline-block;
    width: 200px;
    background: #ec6952;
    border-radius: 12px;
    padding: 8px 30px;
    font-size: 18px;
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    font-weight: 600;
}
@media only screen and (max-width:578px){
    .navbar-logo{
        margin:auto;    
    }
    .navbar-nav.navbar__li{
        background:#444;  
        padding-left:10px;     
        margin-top:8px;
    }
    a.banner__btn{
        margin-left:25%;
    }
    .banner__content p{
        text-align:center;
    }
    .banner__content h1{
        text-align:center;
        font-size:32px!important;
    }
}
.row.S01.text-xs-center {
    text-align: center;
    padding: 80px 0 0;
}

.row.S01.text-xs-center p {
    color: #00000087;
}

.row.S02 {
    padding: 90px 0;
    border-bottom: 1px solid gray;
}
.container.slides h1 {
    margin-bottom: 60px;
}

.container.slides {
    padding: 60px 0 120px;
    background: #f5f5f5;
}

.container.slides .col-sm-9 {
    padding: 0 0 15px;
    font-size: 20px;
}
.container.slides .row {
    padding: 0 15px;
}
footer {
    background-image: url(https://themes.3rdwavemedia.com/velocity/bs4/4.0/assets/images/background/bg-footer-1.jpg);
    background-size: cover;
    color: white;
    /* padding: 80px 0; */
    text-align: center;
}

.col-sm-2.footer__item li {
    list-style: none;
}

.row.footer__on {
    padding: 80px 0;
}

.row.footer__on a {
    display: inline-block;
    background: #ec6952;
    padding: 8px 30px;
    border-radius: 12px;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 600;
    color: white;
}

.col-sm-2.footer__item ul li:before {content: "\f0da";display: inline-block;font: normal normal normal 14px/1 FontAwesome;font-size: inherit;text-rendering: auto;-webkit-font-smoothing: antialiased;padding: 0 10px;}
.col-sm-6.footer__item-right ul {
    list-style: none;
    justify-content: space-evenly;
    display: flex;
}
.row.push-Top {
    position: relative;
    height: 16px;
}

.row.push-Top i {
    position: fixed;
    bottom: 0;
    /* left: 0; */
    color: red;
    /* z-index: 5; */
    right: 1%;
    font-size: 41px;
}
.row.push-Top{
    display: none;
}
/* class for js changge  */
.header--changeBg{
    background-color:rgb(221, 218, 218);
}
header nav.header--changeBg #navbarNav li a{
    color: black;
}
header nav.header--changeBg #navbarNav li.banner__sign {
    background: #ec6952;
    border-radius: 5px;
    border: 1px solid yellow;
}
.row.push-Top.show_push{
    display: block;
    transition: 0.4s;
}
