.header{

    height: 120px;
    
    background: var(--bg-Primary);
    
    color: var(--text-color);
    }
    .head-wrapper{
        
    display: flex;
        
    justify-content: space-between;
        
    width: 100%;
        
    padding: 0 9px;
    }
    .head-wrapper.head-nav {
        height: var(--head-height);
    }
    .head-conn{
    
    display: flex;
    
    padding: 13px 0;
    
    height: 50px;
    
    align-items: center;
    
    font-weight: 500;
    }
  
    .head-conn__item{
    
    color: var(--text-color);
    
    padding: 0 7px;
    
    text-transform: capitalize;
    
    position: relative;
    }
    .head-conn__social{
    
    padding:  0 7px;
    }
    .head-conn__link i{
    
    margin-right: 10px;
    
    border-radius: 50%;
    
    display: inline-block;
    
    height: 16px;
    
    width: 16px;
    }
    .head-conn__link{
    
    color: var(--text-color);
    }
    .head-nav{
    
    display: flex;
    
    height: 50px;
    }

    .head-noty{
    
position: absolute;
    
background: #fff;
    
color: #444;
    
min-width: 350px;
    
border-radius: 3px;
    
right: 0;
    
display: none;
    
top: 83%;
    
z-index: 2;
    }

.head-noty:after {content: '';border: 10px solid;position: absolute;top: -15px;border-radius: 2px;right: 14px;border-color: transparent transparent #fff transparent;}
    .head-noty__content{
    
min-height: 300px;
    
display: flex;
    
flex-direction: column;
    
justify-content: center;
    
align-items: center;
    }
    .head-noty__user{
    
font-size: 10rem;
    }
  
    .head-noty___footer{
    
display: flex;
    
justify-content: space-between;
    
background: #9999990d;
    }
    .head-noty__text:hover{
    
background: #999999b8;
    
color: #fff;
    
transition: 0.4s;
    
border-radius: 3px;
    }

    .head-noty__text{
    
width: 50%;
    
text-align: center;
    
min-height: 30px;
    
line-height: 30px;
    }

    .head-nav__item:nth-child(n+2){
    
    padding: 0 10px;
    }
    .head-nav__link:hover{
    
color: hsla(0, 0%, 100%, 0.75);
    }
    .head-nav__item{
    
display: flex;
    
align-items: center;
    
text-transform: capitalize;
    
font-weight: 500;
    
position: relative;
    }
    .head-nav__link{
    
    color: var(--text-color);
    }
    
    .head-nav__icon i {font-size: 1.8rem;margin-right: 3px;}

.head-nav__item:hover .head-noty {
    display: block;
    animation: efShow 0.4s forwards  ;
}
/* head with search */
.head__with-search{height: calc(var(--head-wrp) - var(--head-height));align-items: center;}
.head-search__barz{display: none;}
.head-search__logo{

width: 162px;

height: 50px;

opacity: 0.9;
}
.head-search__box{

height: 100%;

width: 774px;
}
.head-search__bar{

height: 40px;

background: #fff;

padding: 3px;

border-radius: 2px;

display: flex;
}
.head-search__form{height: 100%;display: inline-block;padding: 0 10px;flex: 1;}
.head-search__input{

display: block;

height: 100%;

border: unset;

outline: none;

text-transform: capitalize;

font-size: 1.4rem;

width: 100%;
}
.head-search__btn{

padding: 0 15px;

font-size: 1.6rem;

color: #fff;

min-width: 60px;

background: var(--bg-Primary);

outline: none;

border: none;

border-radius: 3px;
}
.head-search__nav{

display: flex;

margin-top: 2px;
}
.head-search__item{

margin-left: 13px;

text-transform: capitalize;
}

li.head-search__item:first-child {
    margin-left: unset;
}
#isearch:focus ~ .info-search{
    display: block;
 
}
.info-search{
   display: none;
height: 100%;
    
position: relative;
    
top: 8px;
    
left: -13px;
}
.info-search__item{

display: flex;

position: absolute;

width: 100%;

justify-content: space-between;

background: #fff;

height: 100%;

border-radius: 2px;

color: #444;


padding: 0 11px;

align-items: center;
}


.info-search__img{

width: 124px;

height: 24px;
}
.card{
    
width: 138px;
    
height: 100%;
    
display: flex;
    
align-items: center;
    
justify-content: center;
    
position: relative;
}
.head-noty.cart-position {
    right: 31%;
}
.head-nav__icon.card-item i {font-size: 4.4rem;}


.card:hover  .head-noty {
    display: block;
    animation: efShow 0.4s forwards;
}
/* catergory  */

.catergory__head{
    font-size: 1.6rem;
    text-transform: capitalize;
    font-weight: 600;
    color: var(--bg-main);
    margin-bottom: 10px;
    height: 5rem;
    display: block;
    border-bottom: 1px solid #d5cfcfbf;
    line-height: 5rem;
}
.catergory__list{
    padding-left: 15px;
}
.catergory-item{padding: 4px 0;}

li.catergory-item.active {
    color: var(--text-primary);
    position: relative;
    font-weight: 600;
    text-transform: capitalize;
}

li.catergory-item.active:before {content: '';position: absolute;border: 6px solid;border-color: transparent transparent transparent var(--text-primary);top: 50%;left: -11px;transform: translateY(-50%);}
.catergory__link{
    color: inherit;
    font-size: 1.4rem;
    padding: 0 2px;
}
.catergory__link-icon{position: relative;}

a.catergory__link.catergory__link-icon:after {content: '';border: 5px solid;border-color: #444 transparent transparent transparent;position: absolute;top: 68%;right: -20px;transform: translateY(-50%);}
/* content */
.main{
    padding: 0 4px;
}
.head-main{
    
padding: 13px 20px;
    
display: flex;
    
background: rgba(0,0,0,0.03);
    
border-radius: 3px;
    
height: 60px;
    
align-items: center;
}
.head-main__lable{
    
font-size: 1.4rem;
    
color: #555;
    
margin-right: 5px;
}
.head-main__sort{
    
display: flex;
    
height: 100%;
    
flex: 1;
}
.head-main__btn{
    
}
.head-main__btn{
    
}
.head-main__btn{
    
font-size: 1.4rem;
    
padding:  0 15px;
    
margin-left: 10px;
    
background: #fff;
    
height: 100%;
    
line-height: 3.5rem;
    
text-transform: capitalize;
}

.head-main__btn.active {
    background: var(--bg-Primary);
    color: #fff;
    border-radius: 3px;
}

.head-main__controls{
    
border: unset;
    
height: 34px;
    
width: 34px;
}



select#head-main__select {
    min-width: 154px;
    border: none;
    margin: 0 10px;
    border-radius: 3px;
}
.products{
    
}
.product-item{
    
max-width: 20%;
    
width: 100%;
    
padding: 0 4px;
    
min-height: 42vh;
    
position: relative;
    
z-index: 0;
}
.product__img{max-height: 188px;}
.product__info{

}
.product__name{

margin:  4px 0;

text-overflow: ellipsis;

white-space: nowrap;

font-size: 1.4rem;

overflow: hidden;
}
.product__price{
}
.product__price-num{
    
}
.product__price-num{
    
color: var(--text-primary);
    
font-size: 1.4rem;
}
.product__rating{

display: flex;
}
.product__rating-heart{
    
flex: 1;
    
font-size: 1.4rem;
}
.product__rating-start{
    
font-size: 1.4rem;
    
margin-right: 3px;
}
.product__rating-sale{
    
font-size: 1.4rem;
    
text-transform: capitalize;
}
.product__place{
    
text-align: right;
    
text-transform: capitalize;
    
font-size: 1.4rem;
}

.product-lable{
    
position: absolute;
    
top: 2%;
    
left: -1px;
    
color: #fff;
    
background: var(--text-primary);
    
padding: 3px 13px;
    
text-transform: capitalize;
    
border-radius: 0 3px 3px 0;
    
z-index: 1;
}

.product-lable:after {content: '';position: absolute;bottom: -13%;z-index: 0;left: -5%;border: 4px solid;border-color: transparent var(--text-primary) transparent transparent;}

.header-list{
    
display: flex;
    
background: #fff;
    
border-top: 1px solid;
    
border-bottom: 1px solid var(--text-primary);
display: none;
}
.header-list__item{
    
flex: 1;
    
height: var(--head-list);
    
text-align: center;
    
position: relative;
}

li.header-list__item:before {
    position: absolute;
    content: '';
    height: 70%;
    background: #e5e5e5;
    width: 1px;
    transform: translateY(-50%);
    top: 50%;
    right: 0;
}
.header-list__link{
    
font-size: 1.4rem;
    
color: #444;
    
text-transform: capitalize;
    
line-height: var(--head-list);
    
font-weight: 500;
}
li.header-list__item.acive a{
    color: var(--text-primary);
}

input#switch-mobile:checked ~ .head-search__box {
    transform:translateX(0)
}