*{margin: 0;padding: 0;}
:root{

    --color: #4267B2;
    --font_body:13px;
}
section.layout{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
    
}
header{
    background-color: var(--color);

}
header section.container{
    width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 42px;
    font-weight: 800;
    color: white;
}
header section.container .search{
  display: flex;
  margin-top: 9px;
  width: 50%;
  justify-content: space-between;
}
header section.container .search .icon{
    width: 5%;
    background-color: white;
    height: 24px;
}
div.search div.icon i{
    font-size: 24px;
    color: var(--color);
    position: relative;
    right: -8px;
    bottom: -1px;
}
div.search div.navbarSearch{
    width: 65%;

}
div.navbarSearch input{
    border-radius: 5px;
    width: 100%;
    height: 23px;

}
header .container div.info{
    width: 25%;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
}
header .container div.info img{
    width: 21%;
    border-radius: 50%;
    height: 24px;
}

header .container div.info span{
    width: 70%;
    display: inline-block;
    line-height: 24px;
}
header section.container div.nav{
    width: 50%;
    display: flex;
    line-height: 42px;
}
section.container div.nav .item{
    padding: 0px 12px 1px;
}

section.container div.nav .item.contact{
    width: 117px;
    padding: 0 5px 0 4px;
    text-align: center;
    font-size: 24px;
    color: black;
    opacity: 0.5;
}
section.container div.nav .item.select{
    font-size: 23px;
    color: black;
    opacity: 0.5;
}
section.container div.nav .item:last-child div{
    display: inline-block;
} 

div.menu:hover{
    cursor: pointer;
}
ul.menu{
    list-style: none;
    color: black;
    width: 206px;
    position: absolute;
    right: 330px;
    top: 49px;
    background: #BE7;
    opacity: 0;
    visibility: hidden;
}
ul.show{
    opacity: 1;
    visibility: visible;
}

/* End Hearder */
/* body */
section.pageBody{
    display: flex;
    justify-content: space-between;
}
section.sidebarLeft{
    width: 30%;
}
section.sidebarLeft ul.parent{
    float: right;
    list-style-type: none;
    width: 42%;
}
 ul.parent li p{
    font-weight: bold;
    padding-left: 15px;
    opacity: 0.7;
}
ul.parent li  .sub_item{
display: flex;
justify-content: space-between;
height: 28px;


}
ul.parent .sub_item .icon{
    width: 30%;
    text-align: center;
    color: #3578E5;
}
ul.parent .sub_item .icon i{
   font-size: 20px;
}
ul.parent .sub_item .text{
    width: 68%;
    font-size: var(--font_body);
}
.active{
    width: 20px;
    height: 20px;
    border-radius: 50%;

}
/* end sidebarleft */
/* ::content */
section.sidebarRight{
    display: flex;
}
section.sidebarRight section.news{
    width: 60%;
}
section.sidebarRight section.version{
    width: 40%;
}
