section.container {
    width: 500px;
    margin: auto;
    padding: 5px 20px;
}

.collapse-item {
    width: 100%;
    border: 1px solid;
    padding: 5px;
    height: 100%;
    transition: 1.2s;
}

h2 {
    border-bottom: 1px solid;
}
.collapse-item.zoomOut {
    height: 42px;
    overflow: hidden;
 
}