*{
    margin: 0;padding: 0;
  }
  header {
    font-size: 17px;
    color: #444444;
    display: flex;
    justify-content: space-around;
    padding: 50px;
  }
  
  .header-logo {
    width: 60%;
    height: 30px;
  }
  
  .header-logo img {width: 116px;height: 30px;}
  
  .header-right {
    width: 40%;
    text-align: right;
  }
  
  section.pageBody {
    width: 90%;
    margin: auto;
  }
  
  .pageBody-item {
    width: 25%;
    float: left;
  }
  
  .pageBody-item img {
    width: 100%;
  }
  
  html,body,section.pageBody{height: 100%;}
  nav {
    background: #444444;
    padding: 50px;
    color: #ffffff;
    text-align: center;
    margin: 0 0 20px;
}

nav li {
    padding:  10px 20px;
    background: #ffffff;
    color: #444444;
}

ul {}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}  